@import "tailwindcss";

@theme {
  --color-primary: #0f4c81;
  --color-secondary: #3498db;
  --color-accent: #f39c12;
  --color-success: #27ae60;
  --color-warning: #e67e22;
  --color-danger: #e74c3c;
}

:root {
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

img {
  display: inline;
  margin: 0;
}


main {
	flex: auto;
	align-items: center;
}
